.root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 5px solid #232c3b;
} 

.header-data{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.header-saldo{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

h2{
  color: blue;
}

.headerText{
  font-size: 30px;
}

.grid-container {
  max-width: 100%;
  overflow-x: auto;
}

.header-table {
  display: grid;
  grid-template-columns: 30% 12% repeat(2, 17%) 1fr;
  gap: 1px;
}

.header-cell {
  padding: 10px;
  color: var(--table-header-color);
  background-color: var(--table-header-background-color);
  font-size: var(--table-header-font-size);
  font-weight: var(--table-header-font-weight);
}
